html {
    color: white;
}


body {
    background-color: rgba(117, 61, 170, 0.274);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( 
        115deg
        , rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}